.container__favorite{
    
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
}
.favorites__image{
    display: flex;
align-items: center;

}
.favorites__image img{
    width: 200px;
}
.favorites__info{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.block__favorite{
        display: flex;
        width: 50%;
        justify-content: center;
        margin: 10px 0 10px 0
        
}
.favorites__info p, h4{
   margin: 1px;
    
}
.favorites__description{
   font-size: 13px;
    
}
.favorites__price p{
   font-size: 16px;
   font-weight: 600;
   color: rgb(232, 31, 31);
   margin-left: 10px;
   
    
}
.favorites__price{
    display: flex;
    align-items: center;
    color: black;
    
}
#favorites__button{
    margin-top: 10px;
    color: #3498db;
    border: 1px solid  #3498db;
}

#favorites__button:hover{
    background-color: #3498db;
    color: white;
    
}
.favorites__block{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
flex-direction: column;
    
}















/* ======== ADAPTIVE ======== */




@media all and (max-width: 1024px){
    .block__favorite{
        width: 30%;
    }
    .favorites__img{
        width: 100px;
    }
    .favorites__info h4{
        font-size: 15px;
        
    }
    .favorites__price{
        font-size: 20px;
        
    }
    .favorites__description{
        font-size: 8px;
    }
    .favorites__info{
        width: 70%;
    }
    .favorites__image img{
        width: 100px;
    }
    #favorites__button{
        width: 50%;
        font-size: 6px;
        height: 20px;
    }
}

@media all and (max-width:769px){
    .block__favorite{
        width: 50%;
    }
}

@media all and (max-width: 376px){
    .container__favorite{
        display: flex;
        flex-direction: column;
    }
    .block__favorite{
        width: 90%;
    }
}

@media all and (max-width: 426px){
    .container__favorite{
        display: flex;
        flex-direction: column;
    }
    .block__favorite{
        width: 90%;
    }
}
