













@media all and (max-width: 769px){
    .block__td{
        font-size: 10px;
        display: none;
        color: aqua ;
    }
    .td__desc{
        display: none;
    }
    
    .td-kol{
        font-size: 5px;
    }
}

@media all and(max-width:426px){
    .block__body{
        width: 50px;
    }
}